* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600;900&display=swap');
}

.top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgba(71, 0, 80, 1);
    color: white;
    font-family: 'Outfit', sans-serif;
}

.logo {
    width: 150px;
}
.menu ul {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    font-size: 20px;
    list-style: none;
    font-family: "Outfit", sans-serif;
  }
  body{
    background: linear-gradient(180deg,
      rgba(71, 0, 80, 1) 0%,
      rgba(120, 9, 121, 1) 46%,
      rgba(4, 79, 16, 31) 100%);
  }

.links {
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-family: "Outfit", sans-serif;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 1px 3px 5px rgba(71, 0, 80, 0.356);
    background: rgb(103, 2, 134);
    padding: 3px 20px;
}

main .container {
    
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 100%px;
    font-family: 'Outfit', sans-serif;
} 

.container2{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 100%px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: -400px;

}

.lista{
    color:rgb(255, 255, 255);
}

.titulos{
    margin-top: 20px;
    font-weight: 800;
    color:rgb(255, 255, 255);
}


.titulos-2{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.img-principal{
    margin-top: 10px;
border-radius: 5px;
width: 30vw;
}
.img-cupuacu{

    margin-top: 10px;
    margin-left: 50px;
    border-radius: 5px;
    width: 25vw;
}

footer {
    font-family: "Outfit", sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(100, 165, 1);
  
  }
  .splash {
    display: flex;
        justify-content: flex-end;
    background-position: right;
    opacity: 14%;
  }